<aside class="w-64 bg-gray-300 p-4">
  <ul class="space-y-2">
    <li
      class="<%= activePage === 'dashboard' ? 'font-bold bg-gray-200' : 'hover:bg-gray-200' %> p-2 rounded"
    >
      <a href="/dashboard">Dashboard</a>
    </li>
    <li
      class="<%= activePage === 'system' ? 'font-bold bg-gray-200' : 'hover:bg-gray-200' %> p-2 rounded"
    >
      <a href="/system">System</a>
    </li>
    <li
      class="<%= activePage === 'users' ? 'font-bold bg-gray-200' : 'hover:bg-gray-200' %> p-2 rounded"
    >
      <a href="/users">Users</a>
    </li>
    <li
      class="<%= activePage === 'roles' ? 'font-bold bg-gray-200' : 'hover:bg-gray-200' %> p-2 rounded"
    >
      <a href="/roles">Roles</a>
    </li>
    <li
      class="<%= activePage === 'reports' ? 'font-bold bg-gray-200' : 'hover:bg-gray-200' %> p-2 rounded"
    >
      <a href="/reports">Reports</a>
    </li>
    <li
      class="<%= activePage === 'products' ? 'font-bold bg-gray-200' : 'hover:bg-gray-200' %> p-2 rounded"
    >
      <a href="/products">Products</a>
    </li>
  </ul>
</aside>
